#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Support cross-compiling
ifneq ($(DEB_HOST_GNU_SYSTEM),$(DEB_BUILD_GNU_SYSTEM))
    CC=$(DEB_HOST_GNU_SYSTEM)-gcc
endif

# Disable optimizations if "noopt" is set
ifneq ($(findstring noopt,$(DEB_BUILD_OPTIONS)),)
    CFLAGS += -O0 -g
else
    CFLAGS += -O2 -g
endif


configure:
configure-stamp:
	dh_testdir
	./configure --prefix=/usr --optional-pkcs11 --plugin-path=/usr/lib/iceweasel/plugins --plugin-path=/usr/lib/mozilla/plugins --plugin-path=/usr/lib/midbrowser/plugins --plugin-path=/usr/lib/xulrunner-addons/plugins --plugin-path=/usr/lib/firefox/plugins --plugin-path=/usr/lib/xulrunner/plugins --plugin-path=/usr/lib/iceape/plugins
	touch $@

build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	$(MAKE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f configure-stamp build-stamp
	rm -rf $(CURDIR)/debian/fribid
	$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	$(MAKE) DESTDIR=$(CURDIR)/debian/fribid install

build-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	# dh_installdocs doesn't support renaming of files,
	# so these files are installed manually.
	cp npapi/MPL-1.1.txt $(CURDIR)/debian/fribid/usr/share/doc/fribid/MPL
	cp npapi/NPL-1.1.txt $(CURDIR)/debian/fribid/usr/share/doc/fribid/NPL
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps /usr/lib/fribid/libfribidplugin.so /usr/lib/fribid/sign
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

